@import "_variables.css";
@import "_syntax.css";

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 300;
}

.temp {
  background: #000;
  color: #fff;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
  font-family: "Knockout 50 A", "Knockout 50 B";
  font-style: normal;
  font-weight: 400;
}
